@import '../../scss/common.scss';

.iconpicker {
  display: block;
}

.suggesstion {
  display: block;

  &-item {
    i {
      padding-right: 20px;
      font-size: 2em;
    }

    span {
      font-size: 1em;
    }
  }
}
