@function theme-value($theme-key, $default-value) {
  @return "'[theme: #{$theme-key}, default: #{$default-value}]'";
}

@function get-theme-value($key) {
  @return theme-value($key, map-get($theme-values, $key));
}

$theme-values: (
'themePrimary': '#0078d7',
'themeSecondary': '#2b88d8',
'themeTertiary': '#d83b01',
'themeDarkAlt': '#005a9e',
'themeDark': '#004578',
'themeDarker': '#003366',
'neutralLighterAlt': '#f8f8f8',
'neutralLighter': '#f4f4f4',
'neutralLight': '#eaeaea',
'neutralQuaternaryAlt': '#d0d0d0',
'neutralQuaternary': '#c8c8c8',
'neutralTertiaryAlt': '#b6b6b6',
'neutralTertiary': '#a6a6a6',
'neutralSecondary': '#666666',
'neutralPrimaryAlt': '#333333',
'neutralPrimary': '#000000',
'neutralDark': '#151515',
'black': '#000000',
'white': '#ffffff',
);

@function get-var($var-name, $default-value) {
  @if global-variable-exists($var-name) {
    @return global-variable-get($var-name);
  } @else {
    @return $default-value;
  }
}


$themePrimary: get-var(themePrimary, null);
$themeSecondary: get-var(themeSecondary, null);
$themeTertiary: get-var(themeTertiary, null);
$themeDarkAlt: get-var(themeDarkAlt, null);
$themeDark: get-var(themeDark, null);
$themeDarker: get-var(themeDarker, null);
$neutralLighterAlt: get-var(neutralLighterAlt, null);
$neutralLighter: get-var(neutralLighter, null);
$neutralLight: get-var(neutralLight, null);
$neutralQuaternaryAlt: get-var(neutralQuaternaryAlt, null);
$neutralQuaternary: get-var(neutralQuaternary, null);
$neutralTertiaryAlt: get-var(neutralTertiaryAlt, null);
$neutralTertiary: get-var(neutralTertiary, null);
$neutralSecondary: get-var(neutralSecondary, null);
$neutralPrimaryAlt: get-var(neutralPrimaryAlt, null);
$neutralPrimary: get-var(neutralPrimary, null);
$neutralDark: get-var(neutralDark, null);
$black: get-var('black', null);
$white: get-var('white', null);

@mixin sharepoint-variables {
  $is-spfx: true;
  $themePrimary: #{get-theme-value('themePrimary')} !default;
  $themeSecondary: #{get-theme-value('themeSecondary')} !default;
  $themeTertiary: #{get-theme-value('themeTertiary')} !default;
  $themeDarkAlt: #{get-theme-value('themeDarkAlt')} !default;
  $themeDark: #{get-theme-value('themeDark')} !default;
  $themeDarker: #{get-theme-value('themeDarker')} !default;
  $neutralLighterAlt: #{get-theme-value('neutralLighterAlt')} !default;
  $neutralLighter: #{get-theme-value('neutralLighter')} !default;
  $neutralLight: #{get-theme-value('neutralLight')} !default;
  $neutralQuaternaryAlt: #{get-theme-value('neutralQuaternaryAlt')} !default;
  $neutralQuaternary: #{get-theme-value('neutralQuaternary')} !default;
  $neutralTertiaryAlt: #{get-theme-value('neutralTertiaryAlt')} !default;
  $neutralTertiary: #{get-theme-value('neutralTertiary')} !default;
  $neutralSecondary: #{get-theme-value('neutralSecondary')} !default;
  $neutralPrimaryAlt: #{get-theme-value('neutralPrimaryAlt')} !default;
  $neutralPrimary: #{get-theme-value('neutralPrimary')} !default;
  $neutralDark: #{get-theme-value('neutralDark')} !default;
  $black: #{get-theme-value('black')} !default;
  $white: #{get-theme-value('white')} !default;
  // $themePrimary: #{get-theme-value('themePrimary')} !default !global;
  // $themeSecondary: #{get-theme-value('themeSecondary')} !default !global;
  // $themeTertiary: #{get-theme-value('themeTertiary')} !default !global;
  // $themeDarkAlt: #{get-theme-value('themeDarkAlt')} !default !global;
  // $themeDark: #{get-theme-value('themeDark')} !default !global;
  // $themeDarker: #{get-theme-value('themeDarker')} !default !global;
  // $neutralLighterAlt: #{get-theme-value('neutralLighterAlt')} !default !global;
  // $neutralLighter: #{get-theme-value('neutralLighter')} !default !global;
  // $neutralLight: #{get-theme-value('neutralLight')} !default !global;
  // $neutralQuaternaryAlt: #{get-theme-value('neutralQuaternaryAlt')} !default !global;
  // $neutralQuaternary: #{get-theme-value('neutralQuaternary')} !default !global;
  // $neutralTertiaryAlt: #{get-theme-value('neutralTertiaryAlt')} !default !global;
  // $neutralTertiary: #{get-theme-value('neutralTertiary')} !default !global;
  // $neutralSecondary: #{get-theme-value('neutralSecondary')} !default !global;
  // $neutralPrimaryAlt: #{get-theme-value('neutralPrimaryAlt')} !default !global;
  // $neutralPrimary: #{get-theme-value('neutralPrimary')} !default !global;
  // $neutralDark: #{get-theme-value('neutralDark')} !default !global;
  // $black: #{get-theme-value('black')} !default !global;
  // $white: #{get-theme-value('white')} !default !global;
}
