@import '../../scss/common.scss';

.toolbox-container {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    width: 100%;
  
    .toolbar {
      &::before {
        height: 3px;
      }
    }
  
    button {
      max-width: calc(100% - 8px);
      width: 100%;
      opacity: 0;
  
      background: transparent;
      border: none;
      cursor: pointer;
      height: 24px;
      outline: none;
      padding: 0;
      position: relative;
      user-select: none;
  
      &::before {
        border-top-style: solid;
        border-top-width: 2px;
        border-top-color: $neutralTertiary;
        content: '';
        height: 0;
        position: absolute;
        top: 50%;
        left: 0;
        transition: opacity 0.3s ease-in-out;
        width: 100%;
      }
  
      :global {
        .ms-TooltipHost {
          border-radius: 50%;
          border-style: solid;
          border-width: 2px;
          border-color: $neutralTertiary;
          box-sizing: border-box;
          height: 24px;
          line-height: 12px;
          margin: 0 auto;
          padding: 4px;
          position: relative;
          transition: opacity 0.3s ease-in-out;
          width: 24px;
          background-color: $neutralTertiary;
          display: block;
  
          i {
            vertical-align: middle;
            color: #fff;
          }
        }
      }
    }
  
    &:hover,
    &.active-toolbar {
      button {
        opacity: 1;
      }
    }
  
    button:focus {
      opacity: 1;
    }
  }
  
  :global {
    .toolbox-callout {
      display: block;
      min-height: 200px;
  
      .ms-Callout-main {
        min-height: 200px;
        padding-top: 40px;
      }
  
      .ms-Button--action {
        margin: 10px;
        span {
          display: block;
  
          & i {
            font-size: 32px;
          }
        }
      }
    }
  }