:root {
    --is-spfx: 0
}


$is-spfx: #{if(var(--is-spfx), var(--is-spfx), 0)} !default;

@if $is-spfx {
    $themePrimary: '[theme: themePrimary, default: #0078d7]' !default;
    $themeSecondary: '[theme: themeSecondary, default: #2b88d8]' !default;
    $themeTertiary: '[theme: themeTertiary, default: #d83b01]' !default;
    $themeDarkAlt: '[theme: themeDarkAlt, default: #005a9e]' !default;
    $themeDark: '[theme: themeDark, default: #004578]' !default;
    $themeDarker: '[theme: themeDarker, default: #003366]' !default;
    $neutralLighterAlt: '[theme: neutralLighterAlt, default: #f8f8f8]' !default;
    $neutralLighter: '[theme: neutralLighter, default: #f4f4f4]' !default;
    $neutralLight: '[theme: neutralLight, default: #eaeaea]' !default;
    $neutralQuaternaryAlt: '[theme: neutralQuaternaryAlt, default: #d0d0d0]' !default;
    $neutralQuaternary: '[theme: neutralQuaternary, default: #c8c8c8]' !default;
    $neutralTertiaryAlt: '[theme: neutralTertiaryAlt, default: #b6b6b6]' !default;
    $neutralTertiary: '[theme: neutralTertiary, default: #a6a6a6]' !default;
    $neutralSecondary: '[theme: neutralSecondary, default: #666666]' !default;
    $neutralPrimaryAlt: '[theme: neutralPrimaryAlt, default: #333333]' !default;
    $neutralPrimary: '[theme: neutralPrimary, default: #000000]' !default;
    $neutralDark: '[theme: neutralDark, default: #151515]' !default;
    $black: '[theme: black, default: #000000]' !default;
    $white: '[theme: white, default: #ffffff]' !default;
}

$test: '[theme: themePrimary, default: #0078d7]';
$themePrimary: #{if(var(--is-spfx), $test, $themePrimary)} !default;

