@import '../../scss/common';

.autocomplete {
    display: block;

    &-container {
        position: relative;
    }

    &-flyout {
        position: absolute;
        z-index: 1000;
        background-color: white;
        width: 100%;
        color: #000;
        box-sizing: border-box;
        border-radius: 2px;
        box-shadow: rgb(0 0 0 / 13%) 0px 6.4px 14.4px 0px,
            rgb(0 0 0 / 11%) 0px 1.2px 3.6px 0px;
        outline: transparent;

        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track (rest of scroll-area) */
        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $themePrimary;
            opacity: 0.21;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $themeSecondary;
        }
    }
}